{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
  <h1 class="display-4">Hello, welcome!</h1>
  <p class="lead">
    This is a simple flask application designed for learning flask an alternative web content hosting. 
  </p>
  <hr class="my-4" />
  <p>
    Historically, I have ported my code over to javascript whikky fir hosting content.
    No longer is this required with Flask! 
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://google.com" role="button">google.com</a>
  </p>
</div>
{% endblock %}
